.image{
	text-align: center;
}
.image img{
	width: 60%;
    margin-top:20px;
    margin-bottom: 40px;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.4);
 }
 .image img:hover{
 	box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.9), 0 10px 20px 0 rgba(0, 0, 0, 0.9);
 	}
